# Ignore everything
*

# But descend into directories
!*/

# Root files to inclide
!/.HA_VERSION
!/LICENSE
!/automations.yaml
!/configuration.yaml
!/groups.yaml
!/scripts.yaml
!/customize.yaml

# Directories to include
!custom_components/**
!python_scripts/**

# Include gitignore
!.gitignore

# Ignore python compiled files
*.pyc
custom_components/._.DS_Store
custom_components/.DS_Store
custom_components/python_script_x/._*
